@mixin original__button($color: $primary-color, $background: $body-background, $nav: false) {
    cursor: pointer;
    padding: 16px 0 18px;
    text-align: center;
    color: $color;
    border: 2px solid $color;
    border-radius: 5rem;
    background: $background;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: $color;
        color: $background;
        @if $nav {
            img {
                filter: brightness(5);
            }
        }
    }
}

@mixin underline($color: $primary-color) {
    position: relative;
    cursor: pointer;
    &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: $color;
        transition: all 0.5s ease-in-out;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

@mixin card__link($white: false) {
    cursor: pointer;
    margin-top: auto;
    flex-shrink: 0;
    @if $white {
        background: url("../images/top-right-arrow-white.svg") center no-repeat;
        width: 27px;
        height: 27px;
    } @else {
        background: url("../images/top-right-arrow.svg") center no-repeat;
        width: 20px;
        height: 20px;
    }
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

@mixin screen_sm() {
    @media (min-width: $screen-sm) {
        @content;
    }
}

@mixin screen_md() {
    @media (min-width: $screen-md) {
        @content;
    }
}

@mixin screen_bg() {
    @media (min-width: $screen-bg) {
        @content;
    }
}

@mixin screen_lg() {
    @media (min-width: $screen-lg) {
        @content;
    }
}

@mixin screen_xl() {
    @media (min-width: $screen-xl) {
        @content;
    }
}