// Цвета
$body-background: #F2F2F2;
$primary-color: #373334;
$action-color: #9F0023;
$gray-color: #959595;

// Шрифт
$font-family: "Roboto";

// Размеры экрана
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-bg: 1024px;
$screen-lg: 1200px;
$screen-xl: 1520px;