// Главная страница

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 0 52px;
    @include screen_bg {
        padding: 60px 20px;
    }
    @include screen_lg {
        padding: 120px 0;
    }
}

.article__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include screen_bg {
        flex-direction: row-reverse;
        gap: 20px;
    }
}

.article__image {
    width: 100%;
    height: auto;
    order: 1;
    padding: 0 20px;
    @include screen_bg {
        width: 748px;
        padding: 0;
    }
}

.article__content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
    @include screen_bg {
        padding: 0;
    }
}

.article__category {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: $action-color;
    font-family: $font-family;
    margin-bottom: 5px;
}

.article__title {
    width: 100%;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    font-family: $font-family;
    color: $primary-color;
    margin: 0;
    margin-bottom: 20px;
    @include screen_lg {
        width: 729px;
        font-size: 52px;
        line-height: 65px;
        margin-bottom: 60px;
    }
}

.article__button {
    width: 120px;
    height: auto;
    display: none;
    @include original__button();
    @extend %font_title_sm;
    @include screen_bg {
        display: block;
    }
}

.article__button_mobile {
    width: 100%;
    height: auto;
    padding:  0 20px;
    margin-top: 30px;
    order: 2;
    button {
        width: 100%;
        height: auto;
        @include original__button();
        @extend %font_title_sm;
    }
    @include screen_bg {
        display: none;
    }
}

.article__slider {
    position: relative;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    order: 3;
    background: #FFF;
    overflow: hidden;
    margin-top: 50px;
    @include screen_bg {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 400px;
        height: 140px;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
        margin: 0;
    }
    @include screen_lg {
        width: 520px;
        right: 0;
    }
    @include screen_xl {
        right: -200px;
    }
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    padding: 12px;
    @include screen_bg {
        width: 420px;
        padding: 0;
    }
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    @include screen_bg {
        flex-direction: row;
    }
}

.slide__img {
    width: 60px;
    height: 60px;
    border: 3px solid $primary-color;
    border-radius: 5rem;
    @include screen_bg {
        width: 140px;
        height: 140px;
        border: 8px solid $primary-color;
    }
}

.slide__info {
    width: auto;
    max-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    @include screen_bg {
        height: 100%;
        padding: 36px 0;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.slide__category {
    color: $gray-color;
    @extend %font_title_xxs;
}

.slide__title {
    color: $primary-color;
    text-align: center;
    margin: 0;
    @extend %font_title_xxs;
    @include screen_bg {
        font-size: 16px;
        text-align: left;
    }
}

.article__pagination {
    width: 100px;
    height: 100%;
    gap: 10px;
    padding: 90px 0 40px;
    z-index: 2;
}

.article__button_prev, .article__button_next {
    position: absolute;
    top: 45%;
    width: 20px;
    height: 20px;
    border: none;
}

.article__button_prev {
    left: 10px;
    background: url("../images/prev-page-arrow.svg") center no-repeat;
    object-fit: cover;
    @include screen_bg {
        display: none;
    }
}

.article__button_next {
    right: 10px;
    background: url("../images/next-page-arrow.svg") center no-repeat;
    @include screen_bg {
        display: none;
    }
}

.article__button_disable {
    opacity: .35;
    cursor: auto;
}

.active-page {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D2D2D2;
    border-radius: 5rem;
    background: none;
    span {
        width: 4px;
        height: 4px;
        background: $primary-color;
        font-family: $font-family;
    }
}

.slider__navigation {
    display: none;
}

.hot_news {
    width: 100%;
    height: auto;
    @include screen_bg {
        padding: 0 20px;
    }
    
    @include screen_xl {
        padding: 0;
    }
}

.hot_news__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 20px 0 50px 0;
    border-top: 4px solid $primary-color;
    border-bottom: 4px solid $primary-color;
    @include screen_bg {
        gap: 0;
        padding: 80px 0 100px;
    }
}

.hot_news__head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hot_news__content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 35px;
    grid-auto-flow: dense;
    margin-bottom: 50px;
    @include screen_bg {
        padding: 50px 0 40px;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 40px 48px;
    }
}

.hot_news__item {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    &:hover {
        .hot_news__text {
            color: $action-color;
        }
        .hot_news__link {
            transform: rotateZ(45deg);
        }
    }
    &:nth-child(n+4) {
        display: none;
    }
    @include screen_md {
        &:nth-child(n+4) {
            display: flex;
        }
    }
    @include screen_bg {
        height: auto;
    }
}

.hot_news__img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
    margin-bottom: 20px;
}

.hot_news__meta {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin-bottom: 10px;
}

.hot_news__category {
    color: $action-color;
    font-weight: 400;
    @extend %font_title_sm;
}

.hot_news__date {
    @extend %font_title_xxs;
    color: $gray-color;
}

.hot_news__text {
    cursor: pointer;
    line-height: 20px;
    color: $primary-color;
    text-decoration: none;
    margin: 0;
    transition: all 0.5s ease-in-out;
    @extend %font_title_sm;
    @include screen_md {
        font-size: 20px;
        line-height: 27px;
        margin: 0 0 40px;
    }
}

.hot_news__link {
    display: none;
    @include card__link();
    @include screen_bg {
        display: block;
    }
}

.hot_news__banner {
    width: 100%;
    height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    padding: 115px 0;
    img {
        width: auto;
        height: 100%;
    }
    @include screen_lg {
        height: 400px;
        padding: 140px 0;
    }
}

.news {
    padding: 20px 0 50px;
}

.news__head {
    width: 100%;
    height: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    @include screen_lg {
        margin-bottom: 65px;
    }
    @include screen_xl {
        padding: 0;
    }
}

.news__navigation {
    width: auto;
    height: auto;
    display: none;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    @include screen_lg {
        display: flex;
    }
}

.news__button_prev, .news__button_next {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include original__button($nav: true);
    img {
        transition: all 0.2s ease-in-out;
    }
}

.news__content {
    width: 100%;
    height: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    overflow-x: hidden;
    @include screen_bg {
        padding: 0 20px;
        flex-direction: row;
    }
    @include screen_xl {
        padding: 0;
        overflow: visible;
    }
}

.news__wrapper {
    width: 100%;
    height: auto;
    padding: 0;
    @include screen_bg {
        padding: 0;
    }
}

.news__item {
    position: relative;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    @include screen_bg {
        width: 470px;
        height: 360px;
    }
    @include screen_lg {
        height: 420px;
    }
    &.swiper-slide-active {
        .news__date {
            padding: 0;
        }
        .news__title {
            padding: 0;
        }
    }
}

.news__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.news__date {
    color: $action-color;
    font-weight: 400;
    padding: 0 10px;
    margin-bottom: 10px;
    @extend %font_title_sm;
    @include screen_bg {
        margin: 20px 0 12px;
    }
}

.news__title {
    color: $primary-color;
    padding: 0 10px;
    margin: 0;
    @extend %font_title_sm;
}

.news__link {
    @include card__link();
}

.section__link_mobile {
    @extend %font_title_sm;
    @include original__button();
}

.releases {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: $primary-color;
    @include screen_bg {
        padding: 50px 20px;
    }
}

.releases__wrapper {
    width: 100%;
    max-width: 1520px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    padding: 0;
    @include screen_xl {
        gap: 70px;
    }
}

.releases__title {
    max-width: 200px;
    color: #FFF;
    margin: 0;
    @extend %font_title_mobile;
    @include screen_bg {
        font-size: 100px;
        line-height: 90px;
    }
}

.releases__button {
    width: 100%;
    height: auto;
    text-decoration: none;
    @extend %font_title_sm;
    @include original__button($color: #FFF, $background: $primary-color);
    @include screen_bg {
        width: 165px;
    }
}

.releases__content {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    @include screen_bg {
        flex-direction: row;
        gap: 50px;
    }
}

.releases__img {
    width: 100%;
    @include screen_bg {
        max-width: 50%;
    }
}

.releases__items {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 50px;
    @include screen_bg {
        padding: 0;
    }
}

.releases__item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border: none;
    &:nth-child(n+2) {
        display: none;
    }
    @include screen_bg {
        padding: 32px 0;
        flex-direction: row;
        align-items: center;
        gap: 70px;
        border-bottom: 1px solid #FFF;
        &:nth-child(n+2) {
            display: flex;
        }
    }
    @include screen_xl {
        padding: 56px 0;
    }
}

.releases__date {
    color: $gray-color;
    @extend %font_title_sm;
}

.releases__name {
    color: #FFF;
    line-height: 21.6px;
    margin: 0;
    @extend %font_title_sm;
    @include screen_lg {
        font-size: 24px;
        line-height: 27px;
    }
}

.releases__item-active {
    position: relative;
    @include screen_bg {
        border-top: 4px solid #FFF;
        border-bottom: 4px solid #FFF;
    }
}

.releases__link {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 0;
    display: none;
    @include card__link($white: true);
    @include screen_lg {
        display: block;
    }
}

.releases__button_prev, .releases__button_next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    @include screen_bg {
        display: none;
    }
}

.releases__button_prev {
    left: 0;
}

.releases__button_next {
    right: 0;
}