// Главная страница

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.article__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.article__image {
    width: 100%;
    height: auto;
    @include screen_bg {
        width: 748px;
    }
}

.article__content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.article__category {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: $action-color;
    font-family: $font-family;
    margin-bottom: 5px;
}

.article__title {
    width: 100%;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    font-family: $font-family;
    color: $primary-color;
    margin: 0;
    margin-bottom: 20px;
    @include screen_lg {
        width: 729px;
        font-size: 52px;
        line-height: 65px;
        margin-bottom: 60px;
    }
}

.article__button {
    width: 120px;
    height: auto;
    display: none;
    @include original__button();
    @extend %font_title_sm;
    @include screen_bg {
        display: block;
    }
}

.article__button_mobile {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 30px;
    @include original__button();
    @extend %font_title_sm;
    @include screen_bg {
        display: none;
    }
}

.article__slider {
    position: absolute;
    right: -240px;
    bottom: 0;
    width: 600px;
    height: 140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background: #FFF;
}

.swiper__wrapper {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.swiper__slide {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.slide__img {
    width: 140px;
    height: 140px;
    border: 8px solid $primary-color;
    border-radius: 5rem;
}

.slide__info {
    width: auto;
    max-width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 36px 0;
}

.slide__category {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: $gray-color;
    font-family: $font-family;
}

.slide__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    color: $primary-color;
    font-family: $font-family;
    margin: 0;
}

.slider__pagination {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 90px 0 40px;
    span {
        width: 4px;
        height: 4px;
        border-radius: 5rem;
        background: #D2D2D2;
        font-family: $font-family;
    }
}

.active-page {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D2D2D2;
    border-radius: 5rem;
    background: none;
    span {
        width: 4px;
        height: 4px;
        background: $primary-color;
        font-family: $font-family;
    }
}

.slider__navigation {
    display: none;
}

.hot_news {
    width: 100%;
    height: auto;
}

.hot_news__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 20px 0 50px 0;
    border-top: 4px solid $primary-color;
    border-bottom: 4px solid $primary-color;
    @include screen_bg {
        gap: 0;
        padding: 80px 0 100px 0;
    }
}

.hot_news__head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hot_news__content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 45px;
    @include screen_bg {
        padding: 50px 0 90px 0;
    }
}

.hot_news__item {
    position: relative;
    width: 472px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    overflow: hidden;
    &:hover {
        .hot_news__img {
            transform: scale(1.1, 1.1);
        }
        .hot_news__text {
            color: $action-color;
        }
        .hot_news__link {
            transform: rotateZ(45deg);
        }
    }
    @include screen_bg {
        gap: 20px;
        height: 470px;
    }
}

.hot_news__img {
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

.hot_news__meta {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.hot_news__category {
    font-size: 16px;
    font-weight: 400;
    font-family: $font-family;
    line-height: 21.6px;
    color: $action-color;
}

.hot_news__date {
    @extend %font_title_xxs;
    color: $gray-color;
}

.hot_news__text {
    cursor: pointer;
    @extend %font_title_sm;
    line-height: 20px;
    color: $primary-color;
    text-decoration: none;
    margin: 0;
    transition: all 0.5s ease-in-out;
    @include screen_bg {
        font-size: 20px;
        line-height: 27px;
    }
}

.hot_news__link {
    left: 0;
    bottom: 0;
    display: none;
    @include card__link();
    @include screen_bg {
        display: block;
    }
}

.hot_news__banner {
    width: 100%;
    height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    padding: 115px 0;
    img {
        width: auto;
        height: 100%;
    }
    @include screen_lg {
        height: 400px;
        padding: 140px 0;
    }
}

.news {
    width: 100%;
    height: auto;
}

.news__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 20px 0 50px;
    @include screen_bg {
        padding: 100px 0;
    }
}

.news__head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.news__navigation {
    width: auto;
    height: auto;
    display: none;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    @include screen_lg {
        display: flex;
    }
    button {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include original__button($color: $primary-color, $background: $body-background, $nav: true);
        img {
            transition: all 0.2s ease-in-out;
        }
    }
}

.news__content {
    width: calc(100% + 190px);
    height: auto;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 45px;
    overflow-x: hidden;
    @include screen_lg {
        display: flex;
    }
}

.news__item {
    position: relative;
    min-width: 470px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.news__img {
    width: 100%;
    height: auto;
}

.news__date {
    font-size: 16px;
    line-height: 21px;
    color: $action-color;
    font-weight: 400;
    margin: 20px 0 12px;
    font-family: $font-family;
}

.news__title {
    font-size: 21px;
    line-height: 27px;
    color: $primary-color;
    font-weight: 500;
    font-family: $font-family;
}

.news__link {
    margin-top: 40px;
}

.releases {
    max-width: 100%;
    background: $primary-color;
}

.releases__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 70px;
    padding: 120px 200px;
}

.releases__title {
    max-width: 200px;
    @extend %font_title_xxl;
    color: #FFF;
    margin: 0;
}

.releases__button {
    width: 165px;
    height: auto;
    @include original__button($color: #FFF, $background: $primary-color);
    @extend %font_title_sm;
    text-decoration: none;
}

.releases__content {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    > img {
        width: 100%;
        max-width: 726px;
    }
    @include screen_bg {
        flex-direction: row;
    }
}

.releases__items {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    flex: 1;
}

.releases__item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    padding: 53px 0;
    border-bottom: 1px solid #FFF;
}

.releases__date {
    font-size: 16px;
    line-height: 21px;
    color: #FFF;
    font-weight: 400;
    font-family: $font-family;
}

.releases__name {
    font-size: 24px;
    line-height: 27px;
    color: #FFF;
    font-weight: 500;
    font-family: $font-family;
    margin: 0;
}

.releases__item-active {
    position: relative;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
}

.releases__link {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 0;
    @include card__link($white: true);
}