$body-background: #F2F2F2;
$primary-color: #373334;
$action-color: #9F0023;
$gray-color: #959595;

@import "../../node_modules/vanillajs-datepicker/sass/datepicker";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $body-background;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    padding: 50px 0;
}

.header__wrapper {
    width: 100%;
    max-width: 1520px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 0 0 24px 0;
    border-bottom: 4px solid #373334;
}

.header__top, .header__bottom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top {
    button {
        width: 224px;
        height: 50px;
        text-align: center;
        color: $action-color;
        line-height: 16px;
        font-size: 16px;
        font-weight: 600;
        border: 2px solid $action-color;
        border-radius: 2rem;
        background: none;
    }
    div {
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        a {
            font-size: 20px;
            line-height: 27px;
            font-weight: 700;
            color: $primary-color;
            text-decoration: none;
        }
        img {
            cursor: pointer;
        }
    }
}

.burger-menu {
    display: none;
}

.megaphone {
    display: none;
}

.header__navigation {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    nav {
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 48px;
        a {
            font-size: 20px;
            line-height: 27px;
            font-weight: 700;
            color: $primary-color;
            text-decoration: none;
        }
    }
}

.header__socials {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
    span {
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
        color: $primary-color;
        text-decoration: none;
    }
}

.header__socials-icons {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    img {
        cursor: pointer;
    }
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section {
    width: 100%;
    max-width: 1520px;
    height: auto;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-white {
    background: #FFF;
}

.footer__wrapper {
    width: 100%;
    max-width: 1520px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer__socials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 60px 0 50px;
    border-bottom: 2px solid $primary-color;
    span {
        font-size: 24px;
        line-height: 27px;
        color: $primary-color;
        font-weight: 400;
    }
}

.footer__copyright {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer__copyright-left {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    span {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: $primary-color;
    }
    a {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: $primary-color;
        text-decoration: none;
    }
}

.footer__socials-icons {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    img {
        cursor: pointer;
    }
}

// Главная страница
.article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    border-bottom: 4px solid $primary-color;
}

.article__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    img {
        width: 50%;
        height: auto;
    }
    > button {
        display: none;
    }
}

.article__content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    div {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        span {
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
            color: $action-color;
        }
        p {
            font-size: 52px;
            line-height: 65px;
            font-weight: 700;
            color: $primary-color;
        }
    }
    button {
        cursor: pointer;
        width: 120px;
        height: auto;
        padding: 17px 0;
        text-align: center;
        color: $primary-color;
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        border: 2px solid $primary-color;
        border-radius: 5rem;
    }
}

.article__slider {
    position: absolute;
    right: -240px;
    bottom: 0;
    width: 600px;
    height: 140px;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background: #FFF;
}

.slider__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    img {
        width: 140px;
        height: 140px;
        border: 8px solid $primary-color;
        border-radius: 5rem;
    }
}

.slider__slide-info {
    width: auto;
    max-width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 36px 0;
    span {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: $gray-color;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        color: $primary-color;
    }
}

.slider__pagination {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 90px 0 40px;
    span {
        width: 4px;
        height: 4px;
        border-radius: 5rem;
        background: #D2D2D2;
    }
    .active-page {
        width: 10px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #D2D2D2;
        border-radius: 5rem;
        background: none;
        span {
            width: 4px;
            height: 4px;
            background: $primary-color;
        }
    }
}

.slider__navigation {
    display: none;
}

.latest-news {
    width: 100%;
    height: auto;
}

.latest-news__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 0 100px 0;
    border-bottom: 4px solid $primary-color;
}

.latest-news__head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h2 {
        max-width: 600px;
        height: auto;
        font-size: 100px;
        line-height: 90px;
        color: $primary-color;
        font-weight: 700;
    }
    button {
        cursor: pointer;
        width: 165px;
        height: auto;
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        color: $primary-color;
        font-weight: 500;
        padding: 16px 0;
        border: 2px solid $primary-color;
        border-radius: 5rem;
    }
}

.latest-news__content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 45px;
    padding: 50px 0 90px 0;
}

.latest-news__content-item {
    position: relative;
    width: 472px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    > img {
        width: 100%;
        height: auto;
    }
    div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        .content-item-category {
            font-size: 16px;
            line-height: 21px;
            color: $action-color;
            font-weight: 400;
        }
        .content-item-date {
            font-size: 12px;
            line-height: 14px;
            color: $gray-color;
            font-weight: 400;
        }
    }
    p {
        font-size: 20px;
        line-height: 27px;
        color: $primary-color;
        font-weight: 500;
    }
    a {
        cursor: pointer;
        position: absolute;
        left: 0;
        bottom: 0;
        width: auto;
        height: auto;
    }
}

.latest-news__banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
}

.news {
    width: 100%;
    height: auto;
}

.news__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 100px 0;
    > button {
        cursor: pointer;
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        color: $primary-color;
        font-weight: 500;
        border: 2px solid $primary-color;
        border-radius: 5rem;
    }
}

.news__head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h2 {
        max-width: 720px;
        height: auto;
        font-size: 100px;
        line-height: 90px;
        color: $primary-color;
        font-weight: 700;
    }
    div {
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        button {
            cursor: pointer;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $primary-color;
            border-radius: 5rem;
        }
    }
}

.news__content {
    width: calc(100% + 190px);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 45px;
    overflow-x: hidden;
}

.news__item {
    min-width: 470px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    > img {
        width: 100%;
        height: auto;
    }
    span {
        font-size: 16px;
        line-height: 21px;
        color: $action-color;
        font-weight: 400;
        margin: 20px 0 12px;
    }
    p {
        font-size: 21px;
        line-height: 27px;
        color: $primary-color;
        font-weight: 500;
    }
    a > img {
        margin-top: 40px;
    }
}

.releases {
    max-width: 100%;
    background: $primary-color;
}

.releases__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 70px;
    padding: 120px 200px;
    h2 {
        max-width: 980px;
        height: auto;
        font-size: 100px;
        line-height: 90px;
        color: #FFF;
        font-weight: 700;
    }
    button {
        cursor: pointer;
        width: 165px;
        height: auto;
        text-align: center;
        font-size: 16px;
        line-height: 16px;
        color: #FFF;
        font-weight: 500;
        padding: 16px;
        border: 2px solid #FFF;
        border-radius: 5rem;
        background: none;
    }
}

.releases__content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    > img {
        width: 100%;
    }
}

.releases__items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.releases__item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    padding: 53px 0;
    border-bottom: 1px solid #FFF;
    span {
        font-size: 16px;
        line-height: 21px;
        color: #FFF;
        font-weight: 400;
    }
    h3 {
        font-size: 24px;
        line-height: 27px;
        color: #FFF;
        font-weight: 500;
    }
}

.releases__item-active {
    position: relative;
    border-top: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    a {
        cursor: pointer;
        position: absolute;
        top: 40%;
        right: 0;
    }
}

// Страница всех новостей 
.all-news {
    width: 100%;
    height: auto;
}

.all-news__head {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0 55px;
    h1 {
        font-size: 70px;
        line-height: 87px;
        color: $primary-color;
        font-weight: 700;
    }
    ul {
        display: flex;
        list-style: none;
        li {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            text-align: left;
            color: $gray-color;
        }
        li+li::before {
            padding-left: 8px;
            content: "/\00a0";
        }
    }
}

.all-news__settings {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    input {
        cursor: pointer;
    }
    input:focus {
        outline: none;
    }
}

.datepicker-picker {
    width: 468px;
    padding: 20px;
    border: 2px solid $primary-color;
    border-radius: 0;
    background: #FFF;
}

.datepicker-view {
    width: 100%;
}

.days-of-week {
    border-bottom: 2px solid $primary-color;
}

.datepicker-grid {
    padding: 0 10px;
    gap: 22px;
    span {
        flex-basis: 38px;
    }
}

.focused {
    border: 1px solid $primary-color;
    border-radius: 5rem !important;
    background: none !important;
}

.selected {
    color: $primary-color !important;
}

.all-news-category {
    width: 468px;
    height: 60px;
    font-size: 16px;
    line-height: 21.6px;
    color: $primary-color;
    font-weight: 400;
    padding: 20px 26px 18px 24px;
    border: 2px solid $primary-color;
    border-radius: 0;
    background: none;
}

.news-category:focus {
    outline: none;
}

.all-news__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    padding: 80px 0;
}

.all-news__detailed {
    width: 100%;
    height: auto;
    padding: 50px;
    background: #FFF;
}

.detailed__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    gap: 50px;
}

.detailed__image {
    width: 468px;
    height: 264px;
}

.detailed__content {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    > p {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        color: $primary-color;
    }
}

.detailed__content-head {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }
    p {
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
        color: $primary-color;
    }
}

.detailed__content-category {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    color: $action-color;
}

.detailed__content-date {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: $gray-color;
}

.detailed__more {
    position: absolute;
    right: 0;
    bottom: 0;
}

.all-news__pagination {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 70px 0;
    img {
        cursor: pointer;
    }
}

.pagination__items {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    span {
        cursor: pointer;
        min-width: 16px;
        font-size: 20px;
        line-height: 27px;
        color: $primary-color;
        font-weight: 700;
        text-align: center;
    }
}

.pagination__item-active {
    border-bottom: 2px solid $action-color;
}

// Страница одной новости
.one-news {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 135px;
}

.one-news__title {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
        font-size: 52px;
        font-weight: 700;
        line-height: 65px;
        color: $primary-color;
    }
    ul {
        list-style: none;
        display: flex;
        li {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            color: $gray-color;
            text-align: left;
        }
        li+li::before {
            padding-left: 8px;
            content: '/\00a0';
        }
    }
}

.one-news__wrapper {
    width: 100%;
    max-width: 980px;
    margin-top: 75px;
}

.one-news__head {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-bottom: 2px solid $primary-color;
}

.one-news__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 0 20px;
    img {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
        color: $primary-color;
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
        color: $primary-color;
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: $primary-color;
        margin-bottom: 50px;
    }
    span {
        font-size: 14px;
        font-weight: 300;
        line-height: 19px;
        color: $gray-color;
        margin-bottom: 25px;
    }
    hr {
        width: 100%;
        height: 2px;
        border: none;
        background: $primary-color;
        margin-bottom: 50px;
    }
}

.one-news__info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    > div {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 14px;
        hr {
            width: 100%;
            height: 2px;
            border: none;
            background: $primary-color;
        }
    }
}

.one-news__author {
    flex-basis: 340px;
    
}

.one-news__tags {
    flex-basis: 340px;
    ul {
        display: flex;
        list-style: none;
        li {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.6px;
            color: $primary-color;
        }
        li+li::before {
            padding: 8px;
            content: '/\00a0';
        }
    }
}

.one-news__socials {
    flex-basis: 208px;
    div {
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        a {
            width: auto;
            height: auto;
        }
    }
}

.comment {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    padding: 90px 200px 110px;
    background: $primary-color;
    button {
        cursor: pointer;
        width: 165px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        color: #FFF;
        text-align: center;
        border: 2px solid #FFF;
        border-radius: 5rem;
        background: none;
    }
}

.comment__wrapper {
    width: 100%;
    max-width: 980px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    h2 {
        font-size: 52px;
        font-weight: 700;
        line-height: 65px;
        color: #FFF;
    }
}

.comment__form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    input {
        height: 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 21.6px;
        color: #FFF;
        padding: 12px 0;
        border: none;
        border-bottom: 2px solid #FFF;
        background: none;
    }
    input:focus {
        outline: none;
    }
    input::placeholder {
        font-size: 16px;
        font-weight: 300;
        line-height: 21.6px;
        color: #FFF;
    }
    input#name {
        flex-basis: 340px;
    }
    input#email {
        flex-basis: 340px;
    }
    label {
        cursor: pointer;
        flex-basis: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 19px;
        color: #FFF;
        gap: 10px;
    }
    input#file {
        display: none;
    }
    input#comment {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 320px) {
    header {
        padding: 16px 24px;
        border-bottom: 2px solid $primary-color;
    }

    .header__wrapper {
        padding: 0;
        border: none;
    }

    .header__top {
        justify-content: space-between;
        button {
            display: none;
        }
        a {
            img {
                width: 104px;
                height: auto;
            }
        }
        div {
            display: none;
        }
    }

    .burger-menu {
        display: block;
    }

    .megaphone {
        display: block;
    }

    .header__bottom {
        display: none;
    }

    section {
        padding: 0 24px;
    }

    .article {
        padding: 34px 24px 52px;
        border: none;
    }

    .article__slider {
        display: none;
    }

    .article__wrapper {
        flex-direction: column-reverse;
        > button {
            display: block;
        }
    }

    .article__content {
        button {
            display: none;
        }
        div {
            p {
                font-size: 22px;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }

    .latest-news__wrapper {
        padding: 22px 0 52px;
        border-top: 2px solid $primary-color;
    }

    .latest-news__head {
        h2 {
            font-size: 40px;
            line-height: 40px;
        }
        a {
            display: none;
        }
    }

    .latest-news__content-item {
        height: auto; 
        a {
            display: none;
        }
    }

    .releases {
        padding: 0;
    }

    .releases__wrapper {
        padding: 52px 24px;
        h2 {
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
        }
    }

    .releases__item {
        display: none;
    }

    .releases__item-active {
        display: flex;
    }
}